<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/explore.css" />
</head>

<body>
  <header>
    <div class="container navbar">
      <img src="../assets/SH_logo.png" alt="logo" />
      <div class="navbar__navigations">
        <a href="./explore.html">Explore</a>
        <a href="./profile.html">My Profile</a>
        <a href="./explore.html">Logout</a>
      </div>
    </div>
  </header>

  <main class="container">
    <div class="column">
      <div class="post">
        <div class="post-title">
          <h3>Space Art</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/spaceart.jpeg" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Lost in Space</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/astronaut.png" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Lost in Space</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/astronaut.png" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Space Art</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/spaceart.jpeg" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Lost in Space</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/astronaut.png" />
        </a>
      </div>
    </div>
    <div class="column">
      <div class="post">
        <div class="post-title">
          <h3>Lost in Space</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/astronaut.png" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Astro</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/astro.jpeg" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Lost in Space</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/astronaut.png" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Lost in Space</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/astronaut.png" />
        </a>
      </div>
    </div>
    <div class="column">
      <div class="post">
        <div class="post-title">
          <h3>Lost in Space</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/astronaut.png" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Space Art</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/spaceart.jpeg" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Lost in Space</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/astronaut.png" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Lost in Space</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/astronaut.png" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Lost in Space</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/astronaut.png" />
        </a>
      </div>
    </div>
    <div class="column">
      <div class="post">
        <div class="post-title">
          <h3>Lost in Space</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/astronaut.png" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Lost in Space</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/astronaut.png" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Space Art</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/spaceart.jpeg" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Lost in Space</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/astronaut.png" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Space Art</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/spaceart.jpeg" />
        </a>
      </div>
    </div>
    <div class="column">
      <div class="post">
        <div class="post-title">
          <h3>Space Art</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/spaceart.jpeg" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Lost in Space</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/astronaut.png" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Space Art</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/spaceart.jpeg" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Lost in Space</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/astronaut.png" />
        </a>
      </div>
      <div class="post">
        <div class="post-title">
          <h3>Space Art</h3>
        </div>
        <a href="./view.html">
          <img src="../assets/spaceart.jpeg" />
        </a>
      </div>
    </div>
  </main>
</body>

</html>