<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/signup.css" />
  </head>
  <body>
    <header>
      <div class="container navbar">
        <img src="../assets/SH_logo.png" alt="logo" />
        <div class="navbar__navigations">
          <a href="./explore.html">Explore</a>
          <a href="./signin.html">Sign In</a>
          <a href="./signup.html">Sign Up</a>
        </div>
      </div>
    </header>
    <img src="../assets/earth 2.png" id="earth" />
    <main>
      <div class="form-wrapper">
        <h2>Signup</h2>
        <form action="" method="POST">

          <div class="form-item">

            <div class="form-inline--item">
              <label>First Name</label>
              <input type="text" placeholder="John" />
            </div>

            <div class="form-inline--item">
              <label>Last Name</label>
              <input type="text" placeholder="Doe" />
            </div>

          </div>

          <div class="form-inline--item">
            <label>Email</label>
            <input type="email" placeholder="johndoe@example.com" />
          </div>

          <div class="form-inline--item">
            <label>Username</label>
            <input type="text" placeholder="johnd" />
          </div>

          <div class="form-item">
            <div class="form-inline--item">
              <label>Password</label>
              <input type="password" placeholder="Enter Password Here" />
            </div>
            <div class="form-inline--item">
              <label>Confirm Password</label>
              <input type="password" placeholder="Enter Password Here" />
            </div>
          </div>
              
          <div class="form__radiobuttons">
              <label>Gender</label>
              <input type="radio" value="Male" name="gender"> Male</input>
              <input type="radio" value="Female" name="gender"> Female</input>
          </div>

          <div class="form-buttons">
              <input type="submit" />
              <input type="reset" />
          </div>

          <p>Already Registered? <a href="./signin.html">Signin</a></p>
        </form>
      </div>
    </main>
  </body>
</html>
