<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/signup.css" />
  </head>
  <body>
    <header>
      <div class="container navbar">
        <img src="../assets/SH_logo.png" alt="logo" />
        <div class="navbar__navigations">
          <a href="./explore.html">Explore</a>
          <a href="./signin.html">Sign In</a>
          <a href="./signup.html">Sign Up</a>
        </div>
      </div>
    </header>
    <img src="../assets/earth 2.png" id="earth" />
    <main>
      <div class="form-wrapper">
        <h2>Signin</h2>
        <form method="GET" onsubmit="handleSubmit(event)">
          <div class="form-inline--item">
            <label>Email <span id="email-vld"></span></label>
            <input type="email" placeholder="johndoe@example.com" id="email" />
          </div>

          <div class="form-inline--item">
            <label>Username <span id="uname-vld"></span></label>
            <input type="text" placeholder="johnd" id="uname" />
          </div>

          <div class="form-inline--item">
            <label>Password <span id="psd-vld"></span></label>
            <input type="password" placeholder="Enter password" id="psd"/>
          </div>

          <div class="form-buttons">
            <input type="submit" />
            <input type="reset" />
          </div>

          <p>Already not Registered? <a href="./signup.html">Sign Up</a></p>
        </form>
      </div>
    </main>
    <script src="../js/signin.js"></script>
  </body>
</html>
