<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/upload.css" />
  </head>
  <body>
    <header>
      <div class="container navbar">
        <img src="../assets/SH_logo.png" alt="logo" />
        <div class="navbar__navigations">
          <a href="./explore.html">Explore</a>
          <a href="./signin.html">Sign In</a>
          <a href="./signup.html">Sign Up</a>
        </div>
      </div>
    </header>
    <img src="../assets/earth 2.png" id="earth" />
    <main>
      <div class="form-wrapper">
        <div class="upload__form-left">
          <div class="upload__section--upload">
            <h3>Upload File</h3>
            <p>Max file size 100MB (video)</p>
            <input type="file" id="files" class="hidden" onchange="handleFileInput()" />
            <label for="files">Select file</label>
          </div>
          <div class="upload__section--preview">
            <h3>Preview <span id="file-vld"></span></h3>
            <img src="../assets/astronaut.png" id="preview" />
          </div>
        </div>

        <div class="upload__form-right">
          <form method="GET" onsubmit="handleSubmit(event)">
            <div class="form-inline--item">
              <label>Title <span id="title-vld"></span></label>
              <input type="text" placeholder="lost in space" id="title" />
            </div>

            <div class="form-inline--item">
              <label>Description <span id="desc-vld"></span></label>
              <textarea id="description"></textarea>
            </div>

            <div class="form-inline--item">
              <label>Tags <span id="tag-vld"></span></label>
              <select id="tags">
                <option>Art</option>
                <option>PS</option>
                <option>Astronaut</option>
              </select>
            </div>

            <div class="form-buttons">
              <input type="submit" />
              <input type="reset" />
            </div>
          </form>
        </div>
      </div>
    </main>
    <script src="../js/upload.js"></script>
  </body>
</html>
